<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="GET">
      <div class="input-group">
        Please input a city to search: 
        <input type="text" name="search" autocomplete="off" class="form-control"
          placeholder="Enter Search">
        <span class="input-group-btn">
          <button class="btn btn-success"
            type="submit">Go!</button>
        </span>
      </div>
    </form>


 
  <div class='landingPageDiv'>

    <% if (index!=null) index.forEach(function(e){ %> 
      <div class=brewery>
        <a href='/<%= e.id %> '>
          <%= e.name %>
          <br>
          <%= e.status %>
          <br>
          <%= e.street %> <%= e.city %>
      </a>
      </div>
    <% }) %> 
  </div>
  </body>
</html>
