<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Please input a city to search: 
    <form action="/" method="GET">
      <div class="input-group">
        <input type="text" name="search" autocomplete="off" class="form-control"
          placeholder="Enter Search">
        <span class="input-group-btn">
          <button class="btn btn-success"
            type="submit">Go!</button>
        </span>
      </div>
    </form>
    <br>
    Breweries in: <%= search %> 
    <br>
    <hr>
    <% if (index!=null) index.forEach(function(e){ %> 
      <%= e.name %>
      <br>
      <%= e.status %>
      <br>
      <%= e.street %> <%= e.city %>
      <br>
      <a href='/<%= e.id %> '>Expand</a>
      <br>
      <hr>
    <% }) %> 
  </body>
</html>
