<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Google Icon Fonts used by Materialize -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Materialize CSS Framework -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="stylesheets/style.css" />
      <!-- JavaScript for Materialize -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>

    </head>
    <body>
        <nav class=" orange darken-3">
            <div class="container ">
            <div class="nav-wrapper">
                <a href="/" class="left" style="font-size: x-large;">Brewfinder</a>
                <ul class='right'>
                <li><a href='/?search=<%= item.city %>'>Back</a></li>
                <li><a href="sass.html">Login</a></li>
              </ul>
            </div>
          </div>
          </nav>
          <br>
        <main>
        <div class="row">
            <div class="col s12">
                <div class="card-panel orange lighten-5">
                <span class="orange-text">
                    <%= item.name %> 
                    <br>
                    <%= item.status %> 
                    <br>
                    <%= item.street %> 
                    <br>
                    <%= item.city %> 
                    <br>
                    <%= item.state %> 
                    <br>
                    <%= item.zip %> 
                    <br>
                    <%= item.country %> 
                    <br>
                    <%= item.phone %> 
                    <br>
                    <a class='link' href='https://<%= item.url.split('%2F').join('/') %>'><%= item.url.split('%2F').join('/') %></a>
                    <br>
                </span>
                </div>
            </div>
        </div>
                        
       
        <div class="imagesBox">
            <% if (img!=null) {%> 
                <% img.forEach(function(e) { %> 
                    <img class='responsive-img' src='<%= e.imageurl %> '>
                <% }) %> 
            <% }  %>  
        </div>
    </main>
    <br>
    <footer class="page-footer orange darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
           
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
         
          </div>
        </div>
      </footer>
    </div>
    </body>
</html>