<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Google Icon Fonts used by Materialize -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <!-- Materialize CSS Framework -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="stylesheets/style.css" />
      <!-- JavaScript for Materialize -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>
      <link rel="icon" type="image/jpg" href="/images/favicon.ico"/>

    </head>
    <body>
        <script>
            M.AutoInit();

            $( document ).ready(function(){


            $('.carousel').carousel(); //carousel init


            $('.carousel.carousel-slider').carousel({
                fullWidth: true
            });
            });

        </script>
        <nav class=" orange darken-3">
            <div class="container ">
            <div class="nav-wrapper">
                <a href="/" class="left" style="font-size: x-large;">Brewfinder</a>
                <ul class='right'>
                <li><a href='/?search=<%= item.city %>'>Back</a></li>
                <% if (user) { %>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                  <% } else { %>
                    <li>
                        <a href="/auth/google">Login</a>
                    </li>
                  <% } %>
                </ul>   
            </div>
          </div>
          </nav>
          <br>
        <main>
        <div class="row">
            <div class="col s12">
                <div class="card-panel orange lighten-5">
                <span class="orange-text center-align">
                    <div class="somePad">
                    <h3><%= item.name %> </h3>
              
                    <%= item.status %> 
                    <br>
                    <%= item.street %> 
                    <br>
                    <%= item.city %>, 
                    <%= item.state %>, 
                    <%= item.zip %> 
                    <br>
                    <%= item.country %> 
                    <br>
                    <%= item.phone %> 
                    <br>
                    <br>
                    <a class='link' href='https://<%= item.url.split('%2F').join('/') %>'><%= item.url.split('%2F').join('/') %></a>
                    <br>
                    <br>
                    </div>
                    <ul class="collection with-header left-align">
                    <li class="collection-header"><h4>Reviews:</h4></li>
                    <% reviews.forEach(function(e){  %> 
                        <% if (user) { %>
                            <% if (user.id == e.googleId){ %> 
                            <li class='collection-item avatar'>
                            <img src='<%= e.photos[0].value %> ' class='circle'>
                            <span class="title"><%= e.userName %> </span>
                            <div><p><%= e.review %></p>
                            <a href="/<%= item.id %>/delete/<%= e._id %> " class="secondary-content"><i class="material-icons orange-text text-darken-1">delete</i></a>
                            </div></li>
                            <% } else {%> 
                                <li class='collection-item avatar'>
                                <img src='<%= e.photos[0].value %> ' class='circle'>
                                <span class="title"><%= e.userName %> </span>
                                <div><p><%= e.review %></p>
                                </div></li>
                            <% } %> 
                        <% } else { %>
                            <li class='collection-item avatar'>
                            <img src='<%= e.photos[0].value %> ' class='circle'>
                            <span class="title"><%= e.userName %> </span>
                            <div><p><%= e.review %></p>
                            </div></li>
                        <% } %>
                    <% }) %>  
                </span>
                <div class="card-action">
                    <form action="/<%= item.id %>/review " method="POST" onkeydown="return event.key != 'Enter';">
                        <% if (user) { %> 
                            <% let hasReviewed = 0; %> 
                            <% reviews.forEach(function(e){ %> 
                                <% if(e.googleId == user.id){ %> 
                                    <%  hasReviewed = 1; %> 
                                <% } %> 
                            <% }) %> 
                            <% if (hasReviewed==0){ %> 
                            <div class="input-field2 col s12">
                                <input placeholder='Please enter a review' type="text" id='search' name="review" class="orange-text" class='form-control' autocomplete="off" required="required" pattern="[A-Za-z0-9_.?! ]{1,200}">
                            </div>
                            <% } %> 
                            <% if(hasReviewed == 0){ %> 
                                <button type="submit" class="btn white-text orange">Add Review</button>
                            <% } else {%> 
                                <div style="text-align: center;">Please remove your old review before reviewing again.</div>
                            <% } %> 
                        <% } else { %>
                        <a href="/auth/google" style="text-align: center;" class='orange-text'>Please login to review</a>
                      <% } %>
                    </form>
                  </div>
                </div>
                
            </div>
        </div>
            <% if (img!=null) {%> 
                <div class='row'>
                <div class="col s12 12 l8 offset-l2">
                <div class="carousel carousel-slider" >

                <% let counter = 1 %> 
                <% img.forEach(function(e) { %> 
                        <% if (counter==1){ %> <a class="carousel-item" href="#one!"><img src="<%= e.imageurl %> "></a><% } %> 
                        <% if (counter==2){ %> <a class="carousel-item" href="#two!"><img src="<%= e.imageurl %> "></a><% } %> 
                        <% if (counter==3){ %> <a class="carousel-item" href="#three!"><img src="<%= e.imageurl %> "></a><% } %> 
                        <% if (counter==4){ %> <a class="carousel-item" href="#four!"><img src="<%= e.imageurl %> "></a><% } %>
                        <% if (counter==5){ %> <a class="carousel-item" href="#five!"><img src="<%= e.imageurl %> "></a><% } %> 
                        <% if (counter==6){ %> <a class="carousel-item" href="#six!"><img src="<%= e.imageurl %> "></a><% } %>
                        <% if (counter==7){ %> <a class="carousel-item" href="#seven!"><img src="<%= e.imageurl %> "></a><% } %> 
                        <% if (counter==8){ %> <a class="carousel-item" href="#eight!"><img src="<%= e.imageurl %> "></a><% } %>
                        <% if (counter==9){ %> <a class="carousel-item" href="#nine!"><img src="<%= e.imageurl %> "></a><% } %> 
                        <% counter++ %> 
                <% }) %> 
            </div>
            </div>
            </div>

            <% }  %>  
</main>
    <br>
    <footer class="page-footer orange darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Brewfinder</h5>
              <p class="grey-text text-lighten-4">The best place to find a new brewery.</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2021 Copyright Alexander McDermid
         
          </div>
        </div>
      </footer>
    </div>
    </body>
</html>